
body{
	background-color:#09213a;
	
}

/*headline*/
#headline { 
	display: flex;
	justify-content: center;
}

#head {
	font-size: 4vw;
	margin-top: 1vw;
	color:#2ed573;
	font-family: 'Podkova', serif;
}


 /*form align center*/
.align-center{
	margin-left: auto !important;
	margin-right: auto !important;
}
/*add age group button*/
.add-age{
	font-size: 1.5vw;
	padding: 0.7vw 1.2vw;
	margin-bottom: 1.5vw;
}

/*modal*/

.modal{
	margin-top: 6%;
}

.close{
	font-size: 3vw !important;
	padding-right: 1.5vw !important;
}

.modal-dialog {
	min-width: 30vw !important;

	min-height:30vw!important;
}

.modal-header{
	text-align: center;
	color: #09213a;
	background-color: rgba(46, 213, 115,0.9);
	font-family:'Courgette', cursive;
}
.modal-title{
	font-size:2.5vw;
	padding-left: 0.5vw;
}

.modal-body{
	font-size: 1.3vw;
	text-align: justify;
	padding: 2%;
	background-color: rgba(234, 251, 241,0.9);
}

.modal-footer{
	text-align: center;
	background-color: rgba(234, 251, 241,0.9);
}

#add,#close{
	margin-top:0.5VW;
	margin-bottom: 1vw;
	margin-right: 0.5vw;
	font-size: 1.3vw;
	padding: 0.3vw 1.2vw;
}

input{
	height: 3vw !important;
	padding-bottom: 0px !important;
	padding-top: 0.5vw !important;
}

input::placeholder {
	font-size: 1.5vw;
}


/*table*/
#reqtable tr:hover td:not(:first-child)
{
	cursor: pointer;
  	/*background-color: #f2f2f2;*/
}

th,td{
	color: #09213a;
	text-align: center;
	font-size: 1.6vw;
}

.overflow{
	height: 70% !important;
	overflow-y: auto !important;
}

.table-background{
	background-color: #f5f6fa;
	padding: 0px !important;
}

#next{
	margin-top:1.5VW;
	font-size: 1.5vw;
	padding: 0.5vw 1.2vw;
}


.radio{
	width: 1.1vw !important;
	height: 1.1vw !important;
	font-size: 1.5vw !important;
}


