
body{
	background-color:#09213a;
	
}

/*headline*/
#headline { 
	display: flex;
	justify-content: center;
}

#head {
	font-size: 4.2vw;
	margin-top: 1.5vw;
	margin-bottom: 0.5vw;
	color:#2ed573;
	font-family: 'Podkova', serif;
}


.age-group{
	margin-bottom: 2% !important;
	/*margin-left: 100px !important;*/
}

.age-group td,.age-group th{
	color: #219150 !important;
}


th,td{
	color: #09213a;
	text-align: center;
	font-size: 1.6vw;
}

.overflow{
	height: 27vw !important;
	overflow-y: auto !important;
}

.table-background{
	background-color: #f5f6fa;
	padding: 0px;
}


.btn{
	/*margin-bottom: 0.5vw;*/
	margin-top: 0.2vw;
	padding: 0.4vw 1.1vw;
	font-size: 1.4vw;
	color: black;
}


