
body{
	background-color:#09213a;
	background:linear-gradient(0deg,rgba(24,24,24,0.9),rgba(24,24,24,0.9)),url("../images/skate.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
}

/*headline*/
#headline { 
	display: flex;
	justify-content: center;
}

#head {
	color:#f1f2f6;
	font-size: 4.5vw;
	margin-top: 5vw;
	margin-bottom: 2vw;
	font-family: 'Podkova', serif;
}

.candidate{
	display: flex;
	justify-content: center;
	
}
 /*form align center*/
.align-center{
	margin-left: auto !important;
	margin-right: auto !important;
}
 
 /*for input tag*/
input{
	width: 1.1vw !important;
	height: 1.1vw !important;
	font-size: 1.5vw !important;
}


span{
	margin-left: 2% !important;
	color:  #34e7e4 !important;
}

input::placeholder {
    font-size: 1.5vw;
}

/*card*/

.card{
	border:0.10vw solid #00d8d6;
	background-color: 	rgba(136,136,136,0.4);
	border-top: 0.5vw solid #00d8d6!important;
	border-bottom-left-radius: 2.2vw !important;
	border-bottom-right-radius: 0% !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius:2.2vw!important;
}


.card-header{
	font-size:2.4vw;
	text-align: center;
	color: #34e7e4;
	font-family:'Courgette', cursive;
}

.card-body{
	font-size: 1.5vw;
	text-align: justify;
	padding: 2%;
	color: #f1f2f6;
}

.card-footer{
	text-align: center;
}

/*for checkbox*/
#checkboxes {
	padding-left: 20%;
}

#checkboxes label {
	display: block;
	text-align: center;
	font-weight: bold;
}

.btn{
	margin-bottom: 0.5vw;
	margin-top: 0.2vw;
	font-size: 1.3vw;
   	color: black;
	background-color: #00d8d6;
	padding: 0.4vw 1.1vw;
}


