
body{
	background-color:#09213a;
	
}

/*headline*/
#headline { 
	display: flex;
	justify-content: center;
}

#head {
	font-size: 4vw;
	margin-top:5vw;
	margin-bottom: 2vw;
	color:#2ed573;
	font-family: 'Podkova', serif;
	/*margin-bottom: 10px;*/
}

.event{
	display: flex;
	justify-content: center;
}
 /*form align center*/
.align-center{
	margin-left: auto !important;
	margin-right: auto !important;
}
 /*input tag*/
input{
	height: 5.5vh !important;
	font-size: 1.5vw !important;
}

input::placeholder {
    font-size: 1.5vw;
}

 /*card*/
.card-header{
	font-size:2vw;
	text-align: center;
	color: #09213a;
	background-color: rgba(46, 213, 115,0.9);
	font-family:'Courgette', cursive;
}

.card-body{
	font-size: 1.3vw;
	text-align: justify;
	padding: 2%;
	background-color: rgba(234, 251, 241,0.9);
}

.card-footer{
	text-align: center;
	background-color: rgba(234, 251, 241,0.9);
}

.card{
	border:0.17vw solid #2ed573;
	/*border-color: rgb(46, 213, 115);*/
}

/* footer button*/
#save{
	margin-bottom: 0.5vw;
	margin-top: 0.2vw;
	font-size: 1.3vw;
	border: 0.2vw solid #008040;
	color: black;
	padding: 0.4vw 1.1vw;

}
