body{
	background-color:#09213a;
	background:linear-gradient(0deg,rgba(24,24,24,0.9),rgba(24,24,24,0.9)),url("../images/skate1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/*headline*/
#headline { 
	margin-top: 5.5vw;
	margin-bottom: 1vw;
	display: flex !important;
	justify-content: center !important;
	border-radius: 20%;
	margin-left: auto !important;
	margin-right: auto !important;
	
}

#head {

	font-size: 5vw;
	color:#f1f2f6;
	font-family: 'Podkova', serif;
}
 
.login{
	display: flex;
	justify-content: center;
}

/*form align center*/
.align-center{
	margin-left: auto !important;
	margin-right: auto !important;
}

 /* for input tag*/
input{
	border-top:0.8vh solid #00d8d6!important;
	border-bottom-left-radius: 1vw 1vw !important;
	border-bottom-right-radius: 0% !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius:1vw 1vw!important;
	font-size: 1.3vw !important;
}



input::placeholder {
    font-size: 1.3vw;
}
 /*card*/
.card{
	/*width: 32vw !important;*/
	/*height: auto !important;*/
	border:0.10vw solid #00d8d6;
	background-color: 	rgba(136,136,136,0.4);
	border-top: 0.7vw solid #00d8d6!important;
	border-bottom-left-radius: 3vw!important;
	border-bottom-right-radius: 0% !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 3vw!important;
}

.card-header{
	
	color: #34e7e4;
	font-family:'Courgette', cursive;
	font-size:2.3vw;
	text-align: center;
}

.card-body{	
	color: #f1f2f6;
	font-size: 1.3vw;
	text-align: justify;
	padding: 2%;
}

.card-footer{
	text-align: center;

}

.btn{
	font-size: 1.3vw;
	border: 2px solid #34e7e4;
	color: black;
	background-color: #00d8d6;
	margin-bottom: 0.5vw;
	margin-top: 0.2vw;
	padding: 0.4vw 1.1vw;
	
}

