
body{
	background-color:#09213a;
	background:linear-gradient(0deg,rgba(24,24,24,0.9),rgba(24,24,24,0.9)),url("../images/skate1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
}
 /*headline*/
#headline { 
	display: flex;
	justify-content: center;
}

#head {
	font-size: 4vw;
	margin-top: 0.5vw;
	margin-bottom:0.5vw;
	color:#f1f2f6;
	font-family: 'Podkova', serif;
}

.member{
	display: flex;
	justify-content: center;
}

/*form align center*/
.align-center{
	margin-left: auto !important;
	margin-right: auto !important;
}
  
/*card*/
.card{
	border:0.10vw solid #00d8d6;
	background-color: 	rgba(136,136,136,0.4);
	border-top: 0.7vw solid #00d8d6!important;
	border-bottom-left-radius: 3vw !important;
	border-bottom-right-radius: 0% !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 3.5vw !important;
}

.card-header{
	font-size:2.3vw;
	text-align: center;
	color: #34e7e4;
	font-family:'Courgette', cursive;
}

.card-body{
	font-size: 1.3vw;
	padding: 2%;
	color: #f1f2f6;
}

.card-footer{
	text-align: center;
}

.btn{
	margin-bottom: 0.5vw;
	margin-top: 0.2vw;
	font-size: 1.3vw;
	border: 2px solid #34e7e4;
	color: black;
	background-color: #00d8d6;
	padding: 0.4vw 1vw;

}

.radio{
	width: 1.1vw !important;
	height: 1.1vw !important;
	font-size: 1.5vw !important;
}

/*intpu tag*/
input{

	border-top:0.8vh solid #00d8d6!important;
	border-bottom-left-radius: 1vw !important;
	border-bottom-right-radius: 0% !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius:1vw !important;
	font-size: 1.3vw !important;
}

input::placeholder {
    font-size: 1.3vw;
}

