
body{
	background-color:#09213a;
}
 /*headline*/
#headline { 
	display: flex;
	justify-content: center;
}

#head {
	font-size: 4vw;
	margin-top: 4vw;
	margin-bottom: 2vw;
	color:#2ed573;
	font-family: 'Podkova', serif;
}

.race{
	display: flex;
	justify-content: center;
}

/*form align center*/
.align-center{
	margin-left: auto !important;
	margin-right: auto !important;
}

/*for input tag*/
input{
	font-size: 1.5vw !important;

}

input::placeholder {
    font-size: 1.5vw;
}

/*card*/
.card{
	
	border:0.17vw solid #2ed573;
}

.card-header{
	font-size:2.7vw;
	text-align: center;
	color: #09213a;
	background-color: rgba(46, 213, 115,0.9);
	font-family:'Courgette', cursive;
}

.card-body{
	background-color: rgba(234, 251, 241,0.9);
	font-size: 1.3vw;
	text-align: justify;
	padding: 2%;
}

.card-footer{
	text-align: center;
	background-color: rgba(234, 251, 241,0.9);
}

.radio{
	width: 1.1vw !important;
	height: 1.1vw !important;
	font-size: 1.5vw !important;
}


.btn{
	margin-bottom: 0.5vw;
	margin-top: 0.2vw;
	padding: 0.4vw 1.1vw;
	font-size: 1.3vw;
	color: black;
}

